$primary: #5265E1;
$secondary: #FA5959;

$navbar-nav-link-padding-x:     1rem;
$accordion-button-icon:         url("../img/icon-arrow.svg");
$accordion-button-active-icon:  url("../img/icon-arrow.svg");
$enable-negative-margins:       true;     // Negative margins are disabled by default

$font-size-base:              1rem; // Assumes the browser default, typically `16px`

$h1-font-size:                $font-size-base * 2.5;
$h2-font-size:                $font-size-base * 2;
$h3-font-size:                $font-size-base * 1.75;
$h4-font-size:                $font-size-base * 1.5;
$h5-font-size:                $font-size-base * 1.25;
$h6-font-size:                $font-size-base;
$h7-font-size:                $font-size-base * .7;

$font-sizes: (
  1: $h1-font-size,
  2: $h2-font-size,
  3: $h3-font-size,
  4: $h4-font-size,
  5: $h5-font-size,
  6: $h6-font-size,
  7: $h7-font-size  // New font-size to customize the navbar
);

$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  smmd: 660px,  // New breakpoint to customize the navbar
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1400px
) !default;

$utilities: () !default;
$utilities: map-merge((
    "font-size": (
        responsive: true,   // Now is responsive
        rfs: true,
        property: font-size,
        class: fs,
        values: $font-sizes
    ),
    "width": (              // Now is responsive
        responsive: true,
        property: width,
        class: w,
        values: (25: 25%,
            30: 30%,        // New value
            50: 50%,
            75: 75%,
            100: 100%,
            auto: auto
        )
    ),
    "viewport-height": (    // Now is responsive
        responsive: true,
        property: height,
        class: vh,
        values: (100: 100vh)
    ),
    "min-viewport-height": (    // Now is responsive
        responsive: true,
        property: min-height,
        class: min-vh,
        values: (100: 100vh)
    ),
    "height": (
      property: height,
      class: h,
      values: (
        10: 10%,            // New value
        25: 25%,
        50: 50%,
        75: 75%,
        100: 100%,
        auto: auto
      )
    ),
    "min-height": (         // New map
      property: min-height,
      class: min-h,
      values: (30: 30 * $font-size-base)
    )
), $utilities );

$spacer: 1rem !default;
$spacers: (
  0: 0,
  1: $spacer * .25,
  2: $spacer * .5,
  3: $spacer,
  4: $spacer * 1.5,
  5: $spacer * 3,
  10: $spacer * 6
) !default;

@import "../node_modules/bootstrap/scss/bootstrap.scss";


.navbar-collapse {
    z-index: 10;
}

// Main menu
.nav-link {
    padding: .5rem 1rem;
    color: rgba(0,0,0,.55);
}

// Tabs
.nav-tabs .nav-link {
    border: none;
    padding-left: 3rem;
    padding-right: 3rem;
}

.nav-tabs .nav-link.active {
   border-bottom: 10px solid $secondary;
}

// Cards
.card {
    -webkit-box-shadow: 0px 24px 27px -12px rgba(153,219,235,0.9);
    -moz-box-shadow: 0px 24px 27px -12px rgba(153,219,235,0.9);
    box-shadow: 0px 24px 27px -12px rgba(153,219,235,0.9);
}

.card-img-top {
    width: 50%;
    margin: 15% auto;
}

.card-body {
    text-align: center;
}

.card-text {
    @extend .text-black-50;
}
