$margin: 8rem;

* {
    user-select: none;
}

nav {
    height: 3.5rem;
    margin-bottom: -3.5rem;
}

.page {
    padding-top: 3.5rem;
    overflow: hidden;
}

.page-center {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.image-1 {
    width: 85%;
    height: fit-content;
    position: relative;
    margin-left: 15%;
    border-bottom-left-radius: 50%;
    margin-top: 15%;
}

.image-1-border {
    position: absolute;
    width: 100%;
    background-color: white;
}

.image-1>img {
    width: 110%;
    margin-left: -20%;
    transform: translateY(-10%);
}

.image-2 {
    width: 70%;
    height: fit-content;
    position: relative;
    margin-right: 30%;
    border-bottom-right-radius: 50%;
}

.image-2>img {
    width: 100%;
    margin-right: -20%;
    transform: translateY(-30%);
}